body {
    font-family: "Courier New", sans-serif;
    align-items: center;
}


h1 {
  margin: 100;
  font-size: 10em;
}

.effectText {
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(rgb(255, 18, 18) 30%, rgb(255, 215, 38));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transform: skew(-10deg) rotate(-10deg) translateX(-2rem);
}

.effectText.textflashing {
  animation-name: textflashing;
  animation-duration: 0.125s;
  animation-iteration-count: 10;
  animation-direction: alternate;
}

.title-bottom {
  transform: skew(-10deg) rotate(-10deg) translateX(1rem);
}

.title h1 {
  background: -webkit-linear-gradient(rgb(255, 18, 18) 30%, rgb(255, 215, 38));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px;
} 

.globalLayer {
  font-family: 'Permanent Marker', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: white;
}

.globalLayer.appearing {
  animation-name: appearing;
  animation-duration: 3s;
}

.globalLayer.bgflashing {
  animation-name: bgflashing;
  animation-duration: 1s;
}


@keyframes appearing {
  0% {
      display: block;
      background-color:#099cdb;
      opacity: 1;
  }

  100% {
      display: block;
      opacity: 0;
  }
}

@keyframes bgflashing {
  0% {
      opacity: 1;
      background-color:#f07218;
  }

  100% {
      opacity: 0;
      /* background-color:#addaed; */
  }
}

@keyframes textflashing {
  0% {
      -webkit-text-fill-color: white;
  }

  100% {
      -webkit-text-fill-color: transparent;
  }
}


.slidecontainer {
    width: 10%; /* Width of the outside container */
    align-items: center;
    padding: 10px;
    border-radius: 30px;
    border-style: solid;
    border-color: #099cdb;
    border-width: 2;
    background-color: #e9eef0;
    margin: 10px;
    display: inline-block;
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #addaed;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #099cdb;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #099cdb;
    cursor: pointer;
  }


  .rollButton {
    background-color: #addaed; /* Green */
    border: none;
    color: #099cdb;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    border-radius: 12px;
    transition-duration: 0.4s;
    outline: none;
  }

  .rollButton:hover {
    background-color: #fcb830; /* Green */
    color: #f07218;
  }

  .quantity{
    background-color: #addaed;
    color: #099cdb;
    border: 2px solid #099cdb;
    border-radius: 4px;
    width: 50%;
    height: 40px;
    margin: 10px;
    text-size-adjust: 10;
    font-size:32px;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    /* outline: none; */
  }
  .quantity:focus {
    border: 3px solid #099cdb;
  }

  .dieLabel{
    background-color: #e9eef0;
    color: #099cdb;
    font-size:32px;
  }

  .players {
    width: 100%;
  }

  .playerField{
    justify-content: center;
    width: 80%;
    margin:20px;
    padding: 10px;
    background-color: #e9eef0;
    color: #099cdb;
    font-size:32px;
    border-radius: 30px;
    border-style: solid;
    border-color: #099cdb;
    border-width: 2;
    display: inline-block;
  }

  .playerTimestamp {
    padding: 5px;
    background-color: #addaed;
    color: #099cdb;
    font-size:12px;
    border-radius: 30px;
    display: inline-block;
  }

  .resultDieField {
    flex: 0 0 100%;
    display: flex;
    flex-shrink:0;
    flex-wrap: wrap;
  }


  .resultField{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:1px;
    text-align: center;
  }

  .dieResultImage{
    width:40px;
  }

  .plotStats{
    width: 100%;
    height: 50%;
  }

  .labelResult {
    display: block;
    font-size: 1.5rem;
    margin-bottom: .5rem;
    color:#099cdb;
  }